form input[type="submit"] {
    background-color: rgb(155, 153, 153);
    padding: 0.5rem 1rem;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;  
}

form input[type="submit"]:hover {
    background-color: #4169E1;
    color: white;
}

.app-container {
    max-width: 800px;
    margin: 2rem auto;
    padding: 0 1rem;
}

.section {
    background: white;
    border-radius: 20px;
    padding: 2rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);  
}

.profile-card {
    background: white;
    border-radius: 15px;
}

.pet-info, .user-info {
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .pet-info h3, .user-info h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
  }
  
  .pet-info p, .user-info p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 5px;
  }
  
  .breed, .username {
    font-style: italic;
    color: #888;
  }
  
  .bio {
    font-size: 1.1rem;
    color: #444;
  }

.tags {
    display: flex;
    gap: 0.5rem;
    margin: 1rem 0;
    flex-wrap: wrap;  
}

.action-buttons {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.like-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  padding: 0 1rem;
  background: #4169E1;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
  min-width: 120px;
}

.like-button:hover {
  background: #3158d3;
}

.like-button.liked {
  background: #444444;
}

.btn-skip:hover {
    background-color: #FFE6E6;
    transform: scale(1.2);
}

.btn-like:hover {
    background-color: #E6FFE6;
    transform: scale(1.2);
}
